@model IList<Estacionamento.Entidades.Vagas>

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Estacionamento FATEC TQ </h1>
</div>

@foreach(var vaga in Model)
{
    <p>@Html.DisplayFor(modelItem => vaga.Sigla)</p>
}


